*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home page CSS */

h1 {
    margin-top: 30px;
    color: #f5f5f5;
    font-family:'Futura', sans-serif;;
    font-size: 50px;
}

body {
  /* black: #0a0a0a */
    background-color: #0a0a0a;
      overflow-x: hidden;
}

.logo {
  margin-top: -15px;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.a {
  margin-top: -20px;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 30px;
}

h2 {
  margin-top: 10px;
  font-size: 20px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  font-size: 27px;
  color: bisque;
  align-items: centercs;
}
  
h4 {
  font-size: 20px;
  color: bisque;
}
  
p {
  color: white;
}
  
p1 {
  color: gray;
}
  
.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
    
.button-container button {
  flex-grow: 1;
  margin-right: 0px;
  border: none;
}
  
button{
  background-color: gray; color: white; border: solid orange;
  padding-top: 3px;
  padding-bottom: 3px;
}

.button_style{
  transition: background-color 0.5s ease;
}

.button_style:hover {
  background-color: black;
}


/* Media Query for smaller screens */
@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }
}

/* btn-primary{
  background-color: gray; color: white; border: solid orange
  border:  orange;
  max-width: 15rem; 
  padding-top: 5px; 
  padding-bottom: 5px;
  font-size: 20px;
}

btn-primary:hover{
  background-color: grey;
} */

/* Sign up page CSS */
  
input[type="text"],
input[type="email"] {
    width: 200px; /* Adjust the width as needed */
}
  
  .radio-container {
    display: flex;
    justify-content: center;
  }
  
  .radio-container label {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .radio-container input[type="radio"] {
    margin-right: 5px;
  }
  
  .radio-container .radio-text {
    font-size: 16px;
  }
  
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-row {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}

input, select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

  /* Gallery CSS */

  .image-grid {
    display: flex;
    grid-gap: 10px;
    justify-content:center;
    height: 50vh;
    flex-wrap: wrap;
  }
  
  .image-grid img {
    transition: transform 0.3s ease;
  }
  
  .image-grid img:hover {
    transform: scale(1.1);
  }
  
/* About Me page CSS */
  .about-container {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  .about-photo {
    float: left;
    margin-right: 20px;
  }

  .about-description {
    overflow: hidden; /* Clear the float */
  }

  .about-description h2 {
    padding-bottom: 10px;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about-description p {
    font-size: 16px;
    line-height: 1.5;
  }

  /* Interview CSS */
  .video-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }


  footer {
    margin: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer img {
    max-width: 50%;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
}

footer div {
    flex: 1;
}